.user-container {
  /* border: 1px solid black; */
 
  gap: 1.5rem;
  background-color: rgb(221, 194, 158);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding:10px;
}

#user-img{
    border-radius:55%;
    height: 200px;
    width: 200px;
}
